body{
font-family:sans-serif;
font-style:italic;
}

summary{
color:grey;
}
h1{
color:red;
background-color:black;
}

h2{
color:white;
background-color:orange;
}

p{
color:grey;
}

ul{
color:grey;
}